In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import tabula
import PyPDF2 as pdf

In [3]:
def master_doc(filename):
    frames = []
    length = pdf_page_count(filename)
    new_length = length + 1
    for x in range(3, new_length):
        df = tabula.read_pdf(filename, pandas_options={'header': 2}, pages = x, multi_tables=True, guess = False, stream=True,lattice=False)
        frames.append(df)
    full_df = pd.concat(frames)
    full_df = full_df.reset_index(drop = True)
    full_df['CUSIP NO'] = full_df['CUSIP NO'].str.replace(" ", "")
    full_df['ISSUER NAME'] = full_df["ISSUER NAME"].str.replace('*', "")
    full_df = full_df.drop(full_df.tail(1).index)
    full_df['ISSUER DESCRIPTION'] = full_df['ISSUER DESCRIPTION'].combine_first(full_df['ISSUER DESCRIPTION STATUS'])
    full_df = full_df[['CUSIP NO', 'ISSUER DESCRIPTION', 'ISSUER NAME', 'STATUS']]
    return full_df

In [4]:
def pdf_page_count(filename):
    pdfFileObj = open(filename, 'rb')
    pdfReader = pdf.PdfFileReader(pdfFileObj)
    length = pdfReader.numPages
    return length

In [5]:
df = master_doc('13flist2019q3.pdf')

FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.
 [ipykernel_launcher.py:8]

In [6]:
df.tail(20)

        CUSIP NO ISSUER DESCRIPTION                    ISSUER NAME STATUS
17814  98980G952                PUT                    ZSCALER INC    NaN
17815  98980L101               CL A   ZOOM VIDEO COMMUNICATIONS IN    NaN
17816  98980L901               CALL   ZOOM VIDEO COMMUNICATIONS IN    NaN
17817  98980L951                PUT   ZOOM VIDEO COMMUNICATIONS IN    NaN
17818  989817101                COM                     ZUMIEZ INC    NaN
17819  989817901               CALL                     ZUMIEZ INC    NaN
17820  989817951                PUT                     ZUMIEZ INC    NaN
17821  98983V106           COM CL A                      ZUORA INC    NaN
17822  98983V906               CALL                      ZUORA INC    NaN
17823  98983V956                PUT                      ZUORA INC    NaN
17824  98985W102                COM                  ZYMEWORKS INC    NaN
17825  98985W902               CALL                  ZYMEWORKS INC    NaN
17826  98985W952                PUT                  ZYMEWORKS INC    NaN
17827  98986M103                COM                      ZYNEX INC    NaN
17828  98986T108               CL A                      ZYNGA INC    NaN
17829  98986T908               CALL                      ZYNGA INC    NaN
17830  98986T958                PUT                      ZYNGA INC    NaN
17831  98986X109                COM    ZYNERBA PHARMACEUTICALS INC    NaN
17832  98986X909               CALL    ZYNERBA PHARMACEUTICALS INC    NaN
17833  98986X959                PUT    ZYNERBA PHARMACEUTICALS INC    NaN

In [29]:
def equity_df(master_df):
    equity_df = master_df.loc[master_df['ISSUER DESCRIPTION'].str.contains('COM|SHS| SH|CL')]
    return equity_df

In [30]:
def debt_df(master_df):
    debt_df = master_df.loc[master_df['ISSUER DESCRIPTION'].str.contains("DEBT")]
    return debt_df

In [31]:
def option_df(master_df):
    option_df = master_df.loc[master_df['ISSUER DESCRIPTION'].str.contains("CALL|PUT")]
    return option_df

In [32]:
def warrant_df(master_df):
    warrant_df = master_df.loc[master_df['ISSUER DESCRIPTION'].str.contains("W EXP")]
    return warrant_df

In [33]:
def other_df(master_df, classified):
    other_df = master_df[~master_df.isin(classified)].dropna()
    return other_df

In [34]:
equity_df = equity_df(df)
debt_df = debt_df(df)
option_df = option_df(df)
warrant_df = warrant_df(df)

In [36]:
#equity_df.head(50)
equity_df.count()

CUSIP NO              5350
ISSUER DESCRIPTION    5350
ISSUER NAME           5350
STATUS                 304
dtype: int64

In [14]:
#debt_df.head(40)
debt_df.count()

CUSIP NO              24
ISSUER DESCRIPTION    24
ISSUER NAME           24
STATUS                 4
dtype: int64

In [15]:
#option_df.head()
option_df.count()

CUSIP NO              9103
ISSUER DESCRIPTION    9103
ISSUER NAME           9103
STATUS                 299
dtype: int64

In [16]:
#warrant_df.head()
warrant_df.count()

CUSIP NO              195
ISSUER DESCRIPTION    195
ISSUER NAME           195
STATUS                 40
dtype: int64

In [38]:
classified = [equity_df, debt_df, option_df, warrant_df]
other_df = other_df(df, classified)

In [39]:
other_df.count()

CUSIP NO              817
ISSUER DESCRIPTION    817
ISSUER NAME           817
STATUS                817
dtype: int64

In [25]:
other_df

        CUSIP NO ISSUER DESCRIPTION                    ISSUER NAME   STATUS
15     G01125106           CL A COM                       AFYA LTD    ADDED
16     G01125906               CALL                       AFYA LTD    ADDED
17     G01125956                PUT                       AFYA LTD    ADDED
18     G0120M109                SHS           AGBA ACQUISITION LTD    ADDED
19     G0120M117   *W EXP 05/10/202           AGBA ACQUISITION LTD    ADDED
20     G0120M125   RIGHT 05/10/2024           AGBA ACQUISITION LTD    ADDED
104    G1288E103                SHS           BIQI INTL HLDGS CORP  DELETED
105    G1329V106                SHS   BLUE HAT INTERACTIVE ENTMT T    ADDED
107    G1466R207                SHS              BORR DRILLING LTD    ADDED
123    G1644T109                SHS   BRIGHTSPHERE INVESTMNT GRP P  DELETED
132    G18920101           CL A ORD           CAPITOL INVT CORP IV  DELETED
133    G18920119    UNIT 99/99/9999           CAPITOL INVT CORP IV  DELETED
134    G18920127   *W EXP 01/01/202           CAPITOL INVT CORP IV  DELETED
151    G21225100                SHS    CHINA ADVANCED CONSTR MATLS  DELETED
156    G21612109                SHS             CHINA LENDING CORP  DELETED
157    G21621100                SHS     CHINA XIANGTAI FOOD CO LTD    ADDED
168    G2379F108                SHS   CONSTELLATION ALPHA CAP CORP  DELETED
169    G2379F116   *W EXP 03/23/202   CONSTELLATION ALPHA CAP CORP  DELETED
170    G2379F124    UNIT 99/99/9999   CONSTELLATION ALPHA CAP CORP  DELETED
171    G2379F132   RIGHT 99/99/9999   CONSTELLATION ALPHA CAP CORP  DELETED
214    G3166L100        SHS CLASS A                ENSCO ROWAN PLC  DELETED
215    G3166L900               CALL                ENSCO ROWAN PLC  DELETED
216    G3166L950                PUT                ENSCO ROWAN PLC  DELETED
230    G3362K104    UNIT 99/99/9999                    FELLAZO INC    ADDED
310    G4645B101                SHS       HUITAO TECHNOLOGY CO LTD    ADDED
419    G6455A107           SHS CL A        NETFIN ACQUISITION CORP    ADDED
420    G6455A115   *W EXP 08/01/202        NETFIN ACQUISITION CORP    ADDED
421    G6455A123    UNIT 08/01/2024        NETFIN ACQUISITION CORP    ADDED
447    G67145105           SHS CL A       OAKTREE ACQUISITION CORP    ADDED
448    G67145113   *W EXP 99/99/999       OAKTREE ACQUISITION CORP    ADDED
...          ...                ...                            ...      ...
17219  930427959                PUT                  WAGEWORKS INC  DELETED
17232  93368R101      SPONSORED ADS      WANDA SPORTS GROUP CO LTD    ADDED
17282  948626106                COM   WEIGHT WATCHERS INTL INC NEW  DELETED
17283  948626906               CALL   WEIGHT WATCHERS INTL INC NEW  DELETED
17284  948626956                PUT   WEIGHT WATCHERS INTL INC NEW  DELETED
17366  958102AP0   NOTE  1.500% 2/0           WESTERN DIGITAL CORP    ADDED
17575  97717Y691     CLOUD COMPUTNG                  WISDOMTREE TR    ADDED
17613  98149E105   SPDR LNG DLR GLD                  WORLD GOLD TR  DELETED
17615  981558109               CL A                   WORLDPAY INC  DELETED
17616  981558909               CALL                   WORLDPAY INC  DELETED
17617  981558959                PUT                   WORLDPAY INC  DELETED
17633  98262P101                COM                    WW INTL INC    ADDED
17634  98262P901               CALL                    WW INTL INC    ADDED
17635  98262P951                PUT                    WW INTL INC    ADDED
17646  98379L100                COM                       XPEL INC    ADDED
17647  98379L900               CALL                       XPEL INC    ADDED
17648  98379L950                PUT                       XPEL INC    ADDED
17667  984015131   *W EXP 07/19/202        XENETIC BIOSCIENCES INC    ADDED
17672  984121608            COM NEW                     XEROX CORP  DELETED
17673  984121908               CALL                     XEROX CORP  DELETED
17674  984121958                PUT                     XEROX CORP  DELETED
17698  98421M106            COM NEW            XEROX HOLDINGS CORP    ADDED
17699  98421M906               CALL            XEROX HOLDINGS CORP    ADDED
17700  98421M956                PUT            XEROX HOLDINGS CORP    ADDED
17701  98421X102                COM   XYNOMIC PHARMACUTCLS HLDNG I  DELETED
17702  98421X110   *W EXP 05/15/202   XYNOMIC PHARMACUTCLS HLDNG I  DELETED
17719  98475Y105                COM   YANGTZE RIV PORT AND LGSTC L  DELETED
17736  986005106                COM                  YOGAWORKS INC  DELETED
17749  98872F105                COM            YUMA ENERGY INC NEW  DELETED
17750  98872F204            COM NEW            YUMA ENERGY INC NEW    ADDED

[817 rows x 4 columns]

In [26]:
warrant_df

        CUSIP NO ISSUER DESCRIPTION                   ISSUER NAME   STATUS
11     G0080J120   *W EXP 04/30/202  ACT II GLOBAL ACQUISITION CO      NaN
19     G0120M117   *W EXP 05/10/202          AGBA ACQUISITION LTD    ADDED
52     G04415124   *W EXP 07/31/202   ANDINA ACQUISITION CORP III      NaN
95     G1117K106   *W EXP 03/14/202  BIOCERES CROP SOLUTIONS CORP      NaN
134    G18920127   *W EXP 01/01/202          CAPITOL INVT CORP IV  DELETED
161    G21810117   *W EXP 11/09/201       CLARIVATE ANALYTICS PLC      NaN
163    G22707114   *W EXP 99/99/999        COLLIER CREEK HOLDINGS      NaN
169    G2379F116   *W EXP 03/23/202  CONSTELLATION ALPHA CAP CORP  DELETED
182    G2692M111   *W EXP 10/20/202          DD3 ACQUISITION CORP      NaN
199    G2956M112   *W EXP 10/29/202  8I ENTERPRISES ACQUISITIN CO      NaN
213    G3165V125   *W EXP 10/10/202  ARYA SCIENCES ACQUISITION CO      NaN
222    G3206V118   *W EXP 12/21/202           ESTRE AMBIENTAL INC      NaN
237    G3402M110   *W EXP 11/30/202                     FGL HLDGS      NaN
240    G35006124   *W EXP 04/26/202     ALBERTON ACQUISITION CORP      NaN
279    G40981105   *W EXP 03/03/202  GREENLAND ACQUISITIN CORPORA      NaN
302    G4603R122   *W EXP 06/21/202          HL ACQUISITIONS CORP      NaN
328    G4887W128   *W EXP 01/31/202  WEALTHBRIDGE ACQUISITION LTD      NaN
350    G5463L113   *W EXP 02/07/202             LEO HOLDINGS CORP      NaN
367    G56372116   *W EXP 07/31/202    LONGEVITY ACQUISITION CORP      NaN
414    G6375R115   *W EXP 05/05/202  NATIONAL ENERGY SERVICES REU      NaN
420    G6455A115   *W EXP 08/01/202       NETFIN ACQUISITION CORP    ADDED
424    G6485P124   *W EXP 99/99/999             NEW FRONTIER CORP      NaN
448    G67145113   *W EXP 99/99/999      OAKTREE ACQUISITION CORP    ADDED
457    G6856M114   *W EXP 03/26/202         OXBRIDGE RE HLDGS LTD      NaN
486    G74760128   *W EXP 12/05/202   REGALWOOD GLOBAL ENERGY LTD      NaN
491    G75130115   *W EXP 03/01/202       REPLAY ACQUISITION CORP      NaN
496    G78516401   *W EXP 99/99/999                SC HEALTH CORP    ADDED
526    G8250R129   *W EXP 09/14/202   SOCIAL CAP HEDOSOPHIA HLDGS      NaN
542    G8708A108   *W EXP 02/23/202      TENZING ACQUISITION CORP      NaN
562    G8857R126   *W EXP 01/01/202  THUNDER BRIDGE ACQUISITION L  DELETED
...          ...                ...                           ...      ...
14763  81728P113   *W EXP 11/02/202      SENTINEL ENERGY SVCS INC      NaN
14871  826598112   *W EXP 02/15/202                SIGMA LABS INC      NaN
15022  834203135   *W EXP 11/12/201       SOLENO THERAPEUTICS INC      NaN
15027  834223117   *W EXP 11/14/202                 SOLIGENIX INC      NaN
15037  83558L113   *W EXP 01/26/202    SONOMA PHARMACEUTICALS INC      NaN
15062  838884112   *W EXP 06/20/202         SOUTH MTN MERGER CORP    ADDED
15101  846784122   *W EXP 08/27/202  SPARTAN ENERGY ACQUISITON CO      NaN
15441  87105M110   *W EXP 07/25/202  SWITCHBACK ENERGY ACQUISITIO    ADDED
15596  87484T116   *W EXP 02/28/202              TALOS ENERGY INC      NaN
15618  87615L115   *W EXP 03/15/202       TARGET HOSPITALITY CORP      NaN
15851  88633A115   *W EXP 02/28/202     TIBERIUS ACQUISITION CORP      NaN
15861  88642R117   *W EXP 07/31/202             TIDEWATER INC NEW      NaN
15862  88642R125   *W EXP 07/31/202             TIDEWATER INC NEW      NaN
15863  88642R174   *W EXP 11/24/202             TIDEWATER INC NEW      NaN
15946  89154L118   *W EXP 03/04/202     TORTOISE ACQUISITION CORP      NaN
15948  89157G116   *W EXP 11/09/202     TOUGHBUILT INDUSTRIES INC      NaN
16054  89615T114   *W EXP 05/09/202     TRIDENT ACQUISITIONS CORP      NaN
16069  89628U116   *W EXP 03/31/202        TRINE ACQUISITION CORP      NaN
16084  89653L114   *W EXP 05/11/202           TRINITY MERGER CORP      NaN
16159  90069K112   *W EXP 04/01/202          TUSCAN HOLDINGS CORP      NaN
16162  90070A111   *W EXP 04/01/202          TUSCAN HLDGS CORP II    ADDED
16450  91274U119   *W EXP 03/15/202             U S WELL SVCS INC      NaN
16881  92243N111   *W EXP 05/11/202      VECTOIQ ACQUISITION CORP      NaN
16944  92337U112   *W EXP 03/14/202        VERB TECHNOLOGY CO INC      NaN
17057  92686J114   *W EXP 04/13/202       VIKING THERAPEUTICS INC      NaN
17118  92840M128   *W EXP 02/02/202            VISTRA ENERGY CORP      NaN
17667  984015131   *W EXP 07/19/202       XENETIC BIOSCIENCES INC    ADDED
17702  98421X110   *W EXP 05/15/202  XYNOMIC PHARMACUTCLS HLDNG I  DELETED
17787  989696141   *W EXP 01/31/202            ZION OIL & GAS INC      NaN
17791  989701115   *W EXP 05/21/202      ZIONS BANCORPORATION N A      NaN

[195 rows x 4 columns]